<script type="text/javascript" src="http://ak.sail-horizon<%='-sb' if ENV['SANDBOX_ENABLED']%>.com/scout/v1.js"></script>
<div id="sailthru-scout">
  <div class="loading">
    Loading, please wait...
  </div>
</div>
<script type="text/javascript">
    console.log("Setting up scout");
    SailthruScout.setup({
        domain: "<%=ENV['HORIZON_DOMAIN']%>"
    });
    console.log("Set up scout");
</script>
